@font-face{
  font-family: 'Futura-Medium';
  src: url('../../fonts/Futura Medium.otf') format("opentype");
}

@font-face{
  font-family: 'Futura-Bold';
  src: url('../../fonts/Futura Heavy font.ttf');
}

@font-face{
  font-family: 'Futura-Medium-Thick';
  src: url('../../fonts/futura medium bt.ttf');
}

html {
font-size: 20px;
}

.joystick-fonts-logo {
  font-family: Futura-Bold;
}

.joystick-brand {
  font-size: 3em;
  font-variant: normal;
  font-weight: 700;
}

.joystick-nav {
  font-family: Futura-Medium;
	color: #fefefe;
}

.joystick-main-bg {
	background-color: #31302e;
}

.joystick-content-bg {
	background-color: #f8c02d;
}

.joystick-content-font-left {
  font-family: Futura-Bold;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  margin-left: 1.2rem;
  margin-right: -1rem;
  font-size: 4em;
}

.joystick-images-right {
  margin-left: 3rem;
  height: auto;
  width: 100%;
}

.joystick-yellow-bg {
  margin-top: -4rem;
  width: 80%;
  margin-bottom: -10rem;
}

.joystick-button {
  margin-top: -7.5rem;
  margin-left: 2rem;
  width: 100%;
  color: white;
  font-family: Futura-Medium;
  border-radius: 50px;
  background-color: #f8c02d;
  border-color: #f8c02d;
}

.container-fluid {
    padding: 60px 50px;
}

/*Service Section */
#joystick-services .services {
  position: relative;
}

#joystick-services .services i {
  position: absolute;
  top: 0.2rem;
  font-size: 2.4em;
  margin-left: 1rem;
  color: #FFB600;
}

#joystick-services .services .desc {
  padding-left: 3rem;
}

#joystick-services .services .desc h3 {
  font-family: Futura-Bold;
  margin-left: 1.3rem;
  padding-top: 0.1rem;
  font-size: 1.15em;
}

#joystick-services .services .desc p {
  font-family: Futura-Medium;
  font-size: 0.90em;
  margin-left: 1.3rem;
  margin-top: -0.50rem;
  font-weight: 400;
}

.joystick-text-services {
  font-size: 2.7em;
  font-family: Futura-Bold;
  margin-left: 1rem;
  padding-top: 0.5rem;
  width: 7.7em;
}

.joystick-header-services {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  background-color: #31302e;
}

/*Service Section Ends Here */

/* Latest Project Section */
.joystick-projects-header {
  color: #31302e;
  margin-right: 1rem;
}

.joystick-projects-header h3 {
  font-family: Futura-Bold;
  font-size: 2.7em;
  color: #31302e;
}

.joystick-projects-section-1 {
  height: 5rem;
  margin-top: 40px;
}

.joystick-projects-section-1 img {
  width: 95%;
  height: auto;
  margin-top: 2rem;
  margin-left: 1.3rem;
}

.joystick-projects-section-3 {
  display: flex;
  justify-content: flex-end;
  margin-top: -0.1rem;
  height: 410px;
  margin-left: 18rem;
}

.joystick-button-black {
  font-family: Futura-Medium;
  position: absolute;
  top: 28%;
  width: 40%;
  color: white;
  border-radius:50px;
  background-color: #31302e;
  border-color: #31302e;
}

/* Latest Project Section Ends Here */

/*Testimonies Section */

.joystick-testimonies-section {
  margin-top: -7rem;
  margin-bottom: 7rem;
}

.joystick-testimonies-header {
  font-family: Futura-Bold;
  font-weight: 700;
  font-size: 2.7em;
  color: #31302e;
  margin-left: 1rem;
}

.joystick-circle {
  height: 7rem;
  width: 7rem;
    background-color: #f8c02d;
    border-radius: 50%;
}

.joystick-testimonies-carousel {
  margin-left: 5%;
}

.joystick-testimonies-text {
  margin-top: 5%;
}

#joystick-testimonies .testimonies {
  position: relative;
}

#joystick-testimonies .testimonies i {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFB600;
}
#joystick-testimonies .testimonies .desc {
  width: 90%;
  margin-left: 10px;
}

#joystick-testimonies .testimonies .desc h5 {
  font-family: Futura-Bold;
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 20%;
}

#joystick-testimonies .testimonies .desc p {
  font-family: Futura-Medium;
  font-weight: 400;
  font-size: 1em;
  margin-left: 20%;
}

.joystick-testimonies {
  margin-top: 4em;
}

/*Testimonies Section Ends Here */


/* Footer Section Start Here */

.footer-h3 {
	color: #f8c02d;
	margin-bottom: 1.5em;
}

.footer-span {
	color: white;
}

.joystick-footer {
	margin-left: 5%;
  margin-top: -10px;
}

.joystick-footer h3 {
  font-family: Futura-Bold;
}

.joystick-footer span {
  font-family: Futura-Medium;
}

#joystick-contacts {
  padding-top: 15rem;
}

.joystick-copyright {
  font-family: Futura-Medium;
  color: #ffffff;
  border-top: 1px solid rgba(248, 192, 45, 1);
  clear: both;
  margin-top: 40px !important;
  padding: 40px 0 0 0;
  margin-bottom: 1em;
}

.copyright-color {
	color: #f8c02d;
}

/* Footer Ends */

/* FOR DIFFERENT SCREEN RESOLUTION */

/* Extra small devices (less than 544px) */
@media (max-width: 543px) {

  .joystick-images-right {
    margin-left: 0rem;
    height: auto;
    width: 100%;
  }

}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

  html {
    font-size: 14px;
  }

  .joystick-brand {
    font-size: 8em;
    font-variant: normal;
    font-weight: 700;
  }

  .joystick-images-right {
    margin-left: 0rem;
  }

  .joystick-content-font-left {
    margin-left: 0rem;
  }

  .joystick-button {
    margin-top: 2rem;
    width: 50%;
    margin-left: 7.5rem;
  }

  #joystick-services .services .desc {
    padding-left: 5rem;
  }

  #joystick-services .services i {
    font-size: 3em;
  }

  #joystick-services .services .desc h3 {
    margin-left: 1rem;
    padding-top: 0.1rem;
    font-size: 1.7em;
  }

  #joystick-services .services .desc p {
    font-size: 1.4em;
  }

  .joystick-projects-header {
    margin-left: 1rem;
  }

  .joystick-projects-section-1 {
    height: 5rem;
    margin-top: 0.2rem;
  }

  .joystick-projects-section-1 img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-left: 0.2rem;
  }

  .joystick-button-black-mobile {
    width: 40%;
    color: white;
    font-family: Futura-Medium;
    font-size: 1em;
    border-radius: 50px;
    background-color: #31302e;
    border-color: #31302e;
    position: relative;
    top: -10rem;
    left: 9em;
}

.joystick-circle-mobile {
    height: 9.5rem;
    width: 9.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    left: 7.5rem;
    background-color: #f8c02d;
    border-radius: 50%;
    display: block;
  }

  .footer-h3 {
  	color: #f8c02d;
  	margin-bottom: 1.5em;
  }

  .footer-span {
  	color: white;
  }

  .joystick-footer {
  	margin-left: 5%;
    margin-top: -10px;
  }

  .joystick-footer h3 {
    font-family: Futura-Bold;
  }

  .joystick-footer span {
    font-family: Futura-Medium;
  }

  #joystick-contacts {
    padding-top: 1rem;
  }

  .footer-h3 {
    color: #f8c02d;
    margin-bottom: 0.3rem;
    margin-top: 4rem;
  }

  .footer-span-joystick {
    font-size: 0.9em;
    color: white;
  }

  .footer-span-contacts {
    color: white;
    font-size: 0.8em;
  }

  .joystick-footer-joystick {
    margin-left: 3rem;
  }

  .joystick-footer-contacts {
    margin-left: 3rem;
  }

  .joystick-footer-joystick {
    font-family: Futura-Bold;
  }

  .joystick-footer-contacts {
    font-family: Futura-Bold;
    margin-top: 20px;
  }

  .joystick-footer span {
    font-family: Futura-Medium;
  }


  .joystick-copyright {
    font-size: 0.9em;
    margin-top: 40px !important;
    padding: 40px 0 0 0;
    margin-bottom: 1em;
  }

  .joystick-copyright {
    font-family: Futura-Medium;
    color: #ffffff;
    border-top: 1px solid rgba(248, 192, 45, 1);
    clear: both;
    margin-top: 40px !important;
    padding: 40px 0 0 0;
    margin-bottom: 1em;
  }

  .copyright-color {
  	color: #f8c02d;
  }



/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
