@font-face{
  font-family: 'Futura-Medium';
  src: url('../../fonts/Futura Medium.otf') format("opentype");
}

@font-face{
  font-family: 'Futura-Bold';
  src: url('../../fonts/Futura Heavy font.ttf');
}

@font-face{
  font-family: 'Futura-Medium-Thick';
  src: url('../../fonts/futura medium bt.ttf');
}

html {
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.joystick-fonts-logo {
  font-family: Futura-Bold;
}

.joystick-brand {
  font-size: 4em;
  font-weight: 700;
  font-family: Futura-Medium-Thick;
}

.joystick-nav {
  font-family: Futura-Medium;
  font-size: 1.3em;
  color: #fefefe;
}

.joystick-content-bg {
	background-color: #f8c02d;
    display: flex;
}

.joystick-main-bg {
	background-color: #31302e;
    width: 100%;
    margin: 0;
}

.joystick-main-bg img {
    width: 80%;
}

.joystick-white-bg {
    margin-top: -3rem;
    width: 75%
}

/*Header First Section */
.joystick-header h2 {
    font-family: Futura-Bold;
    font-size: 5.5em;
}

#header-image img {
    margin-top: -10px;
}

/* End of Header Section */

.joystick-button {
  width: 170%;
    font-size: 1rem;
  margin-top: -9rem;
  color: white;
  font-family: Futura-Medium;
  border-radius: 50px;
  background-color: #f8c02d;
  border-color: #f8c02d;
}

/*Service Section */
.joystick-header-services {
  background-color: #31302e;
}

#joystick-services .services i {
  position: absolute;
  font-size: 2.5em;
  color: #FFB600;
}

#joystick-services .services .desc {
  padding-left: 3rem;
}

#joystick-services .services .desc h3 {
  font-family: Futura-Bold;
  margin-left: 1.3rem;
  padding-top: 0.1rem;
  font-size: 1.5em;
}

#joystick-services .services .desc p {
  font-family: Futura-Medium;
  font-size: 1.1em;
  margin-left: 1.3rem;
  margin-top: -0.50rem;
  font-weight: 400;
}

.joystick-text-services {
  font-size: 3.5em;
  font-family: Futura-Bold;
}

/*Service Section Ends Here */

/* Latest Project Section */
.joystick-projects-header {
  color: #31302e;
}

.joystick-projects-header h3 {
  font-family: Futura-Bold;
  color: #31302e;
  font-size: 3.5em;
}

#latest-projects img {
    width: 100%;
}

.joystick-button-black {
  margin-top: -2.5rem;
  font-family: Futura-Medium;
  width: 40%;
  color: white;
  border-radius:50px;
  background-color: #31302e;
  border-color: #31302e;
}

/* Latest Project Section Ends Here */

/*Testimonies Section */

.joystick-testimonies-header {
  font-family: Futura-Bold;
  font-weight: 700;
  font-size: 3.5em;
  color: #31302e;
}

.joystick-circle {
  height: 9rem;
  width: 9rem;
  background-color: #f8c02d;
  border-radius: 50%;
}

.joystick-testimonies-carousel {
  margin-left: 5%;
}

.joystick-testimonies-text {
  margin-top: 5%;
}

#joystick-testimonies .testimonies i {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFB600;
}

#joystick-testimonies .testimonies .desc {
  width: 90%;
  margin-left: 10px;
}

#joystick-testimonies .testimonies .desc h5 {
  font-family: Futura-Bold;
  font-size: 1.6em;
  font-weight: 700;
  margin-left: 20%;
}

#joystick-testimonies .testimonies .desc p {
  font-family: Futura-Medium;
  font-weight: 400;
  font-size: 1.2em;
  margin-left: 20%;
}

/*Testimonies Section Ends Here */


/* Footer Section Start Here */

#joystick-contacts {
    margin-top: -5rem;
    padding-top: 10rem;
}

.footer-h3 {
	color: #f8c02d;
}

.footer-span {
	color: white;
}

#footer-joystick {
    margin-left: 5.7rem;
}

.joystick-footer h3 {
  font-family: Futura-Bold;
}

.joystick-footer span {
  font-family: Futura-Medium;
}

.joystick-copyright {
  font-family: Futura-Medium;
  color: #ffffff;
  border-top: 1px solid rgba(248, 192, 45, 1);
  clear: both;
  margin-top: 40px !important;
  padding: 40px 0 0 0;
  margin-bottom: 1em;
}

.copyright-color {
	color: #f8c02d;
}

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

/* Footer Ends */

/* FOR DIFFERENT SCREEN RESOLUTION */

/* Extra small devices (less than 544px) */
 @media (max-width: 576px) {
     
     html {
         font-size: 15px;
     }
     
     .joystick-header h2 {
         font-size: 3.3em;
     }
     
     .joystick-main-bg img {
         margin-left: 3.5rem;
         width: 70%;
     }
     
     .joystick-button {
         margin-top: -1rem;
     }
     
     .joystick-header-services h3 {
         font-size: 2.2em;
     }
     
     .joystick-projects-header h3 {
         font-size: 2.2em;
         margin-left: 0.3rem;
     }
     
     .joystick-button-black {
  width: 200%;
}
     .joystick-testimonies-header {
         font-size: 2.4em;
     }
     
     .joystick-circle-mobile {
    height: 9rem;
    width: 9rem;
    position: relative;
    margin: 0 auto;
    background-color: #f8c02d;
    border-radius: 50%;
    display: block;
  }

  .footer-span-joystick {
    color: white;
  }

  .footer-span-contacts {
    color: white;
  }

  .joystick-footer-joystick {
    margin-left: 1rem;
  }

  .joystick-footer-contacts {
    margin-left: 1rem;
  }

  .joystick-footer-joystick {
      font-size: 0.90em;
  }

  .joystick-footer-contacts {
    font-size: 0.90em;
      margin-top: 20px;
  }


  .joystick-copyright {
      font-family: Futura-Medium;
    font-size: 0.90em;
    margin-top: 40px !important;
    padding: 40px 0 0 0;
    margin-bottom: 1em;
  }
     
     #joystick-testimonies .testimonies .desc h5 {
  font-family: Futura-Bold;
}

#joystick-testimonies .testimonies .desc p {
  font-family: Futura-Medium;
}
     
     .joystick-footer h3 {
  font-family: Futura-Bold;
}

.joystick-footer-joystick span {
  font-family: Futura-Medium;
}

.footer-span-contacts {
  font-family: Futura-Medium;
} 

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
} */
